{%extends 'base.html'%}



{%block content%}
<style>
    .active{
        color:red;
    }

</style>
<div class="container-fluid px-5 mt-3">
    <div class="row justify-content-center mt-3">
        <h1>Our Items</h1>
    </div>
    <div class="row">
        
        <div class="col-log-4 mr-5 mt-5 ml-5">
            <ul class="list-group">
                <li id = "btn-0" class="list-group-item " onclick = "filter({{0}})">
                    <button  style="background: transparent; border: none; outline: none;" class="btn active">All</button>
                </li>
                {%for category in categories%}
                <li class="list-group-item  category"id = "btn-{{category.id}}" onclick = "filter({{category.id}})"><button class = "btn" style="background: transparent; border: none; outline: none;">{{category.name}}</button></li>
                {%endfor%}
                
              </ul>
        </div>
        <div class="col-lg-9 mx-auto mt-5" id = "tbody">
            <div class="row" >
                {%for item in page_obj%}
                <div class="card shadow p-2 mb-4 bg-white rounded mx-2" style="width: 20rem; ">
                    
                    <div class="card-body">
                      <h5 class="card-title">{{item.title}}</h5>
                      <p>{{item.description}}</p>
                    </div>
                </div>
                {%endfor%}
               
                  
            </div>
            <div class="row bg-red justify-content-center mt-5">
                
                <nav aria-label="Page navigation example">

                    {%if page_obj%}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                    <li class="page-item" ><button onclick="previous()" id = "p">previous</button></li>
                    {%endif%}
                    {% for i in page_obj.paginator.page_range %}
                      <li class="page-item all"><button onclick="pagination({{i}})">{{i}}</button></li>
                      
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item" ><button onclick="next()" id = "n">next</button></li>
                    {%endif%}
                    <!-- {% if page_obj.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                      {% endif %} -->
                    </ul>
                    
                    {%endif%}
                  </nav>
            </div>
        </div>
    </div>
</div>

<script>
    var category = 0
    var pagenumber = 1
    all = document.getElementsByClassName('all')
    length = all.length
    p = document.getElementById('p')
    n = document.getElementById('n')
    let btn = document.querySelectorAll('.btn')
    
    btn.forEach(button=>{
        button.addEventListener('click',function(){
            // console.log('hello')
            btn.forEach(x=>x.classList.remove('active'))
            this.classList.add('active')
        })

    })
    let pagebtn = document.querySelectorAll('.pagbtn')
    console.log(pagebtn)
    pagebtn.forEach(y=>{
        y.addEventListener('click',function(){
            console.log('hello')
            pagebtn.forEach(x=>x.classList.remove('active'))
            this.classList.add('active')
        })

    })
    
    function filter(categoryid){ 
        // category = document.getElementById(`btn-${categoryid}`)
        category = categoryid
        pagenumber = 1
        // console.log(category)
        // console.log(pagenumber)
        

        

        $.ajax({
            type: 'GET',
            url:`/${category}/${pagenumber}`,
            data:{"page":1} ,
            success: function (response) {
                $("#tbody").html(response.data)

                
            },
            error: function (response) {
              
            }
        }
            )
            
    }
        //     $.ajax({
        //     type: 'POST',
        //     url: ""
        //     data:{'category:'} ,
        //     success: function (response) {

                
        //     },
        //     error: function (response) {
              
        //     }
        // }
        //     )

    function pagination(page){
        
        
        pagenumber = page
        // console.log(category)
        // console.log(pagenumber)
        $.ajax({
            type: 'GET',
            url:`/${category}/${pagenumber}`,
            data:{"page":1} ,
            success: function (response) {
                $("#tbody").html(response.data)

                
            },
            error: function (response) {
              
            }
        }
            )
        
    }
    function previous(){
        
        
        
        
        if (pagenumber !=1){
            pagenumber = pagenumber-1

        }
        else{
            pagenumber = 1
            

        }
        
        // console.log(pagenumber)
        $.ajax({
            type: 'GET',
            url:`/${category}/${pagenumber}`,
            data:{"page":1} ,
            success: function (response) {
                $("#tbody").html(response.data)

                
            },
            error: function (response) {
              
            }
        }
            )
        
    }
    function next(){
        
        
        
        
        if (pagenumber !=length){
            pagenumber = pagenumber+1

        }
        else{
            pagenumber = length
            

        }
        
        // console.log(pagenumber)
        $.ajax({
            type: 'GET',
            url:`/${category}/${pagenumber}`,
            data:{"page":1} ,
            success: function (response) {
                $("#tbody").html(response.data)

                
            },
            error: function (response) {
              
            }
        }
            )
        
    }

</script>
{%endblock content%}